<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <!--1、选择一个-->
  <select name="bookSelect" v-model="book">
    <option value="数据结构">数据结构</option>
    <option value="操作系统">操作系统</option>
    <option value="计算机组成原理">计算机组成原理</option>
    <option value="计算机网络">计算机网络</option>
  </select>
  <h2>您的选择是：{{book}}</h2>
  <!--2、选择多个-->
  <select name="bookSelect" v-model="books" multiple>
    <option value="数据结构">数据结构</option>
    <option value="操作系统">操作系统</option>
    <option value="计算机组成原理">计算机组成原理</option>
    <option value="计算机网络">计算机网络</option>
  </select>
  <h2>{{books}}</h2>
</div>
<script src="../js/vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      book: '操作系统',
      books: []
    },
  })
</script>
</body>
</html>